<ng-container *ngIf="forecastByDays.length; else error">
  <h2>{{ forecast.city.name }}, 4 days weather forecast</h2>
  <div class="card__wrapper">
    <div class="card" *ngFor="let weather of forecastByDays; let i = index" (click)="selectedForecast = weather">
      <div>
        <h2>{{ weather[0].dt_txt | GetDateDay }}</h2>
      </div>
      <div>
        <span>Minimum temperature</span>
        <p>{{ getMinimumTemperature(i) }} &deg;C</p>
      </div>
      <div>
        <span>Maximum temperature</span>
        <p>{{ getMaximumtemperature(i) }} &deg;C</p>
      </div>
      <div>
        <span>Average temperature</span>
        <p>{{ getAverageTemperature(i) }} &deg;C</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #error>
  <ng-container *ngIf="error$ | async as err; else loading">
    <div class="box">
      <h2 class="box__error">{{ err.message }}</h2>
    </div>
  </ng-container>
</ng-template>

<ng-template #loading>
  <div class="box">
    <h2>Loading...</h2>
  </div>
</ng-template>

<div class="forecast" *ngIf="selectedForecast.length">
  <h2>{{ selectedForecast[0].dt_txt | GetDateDay }} hourly forecast</h2>
  <div class="forecast__cards">
    <div class="forecast__card" *ngFor="let weather of selectedForecast">
      <h3>{{ weather.dt_txt | GetDateHours }}</h3>
      <div>
        <span>Temperature</span>
        <p>{{ weather.main.temp }} &deg;C</p>
      </div>
      <div>
        <span>Conditions</span>
        <ng-container *ngFor="let cond of weather.weather">
          <p>{{ cond.main }}</p>
        </ng-container>
      </div>
      <div>
        <span>Wind speed</span>
        <p>{{ weather.wind.speed }}</p>
      </div>
    </div>
  </div>
</div>
