:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.card {
  padding: 20px;
  background-color: #1f2937;
  color: #fff;
  min-height: 300px;
  min-width: 300px;
  border-radius: 6px;

  & span {
    color: #9ca3af;
  }

  & div {
    border-bottom: 1px solid #9ca3af;
    margin-bottom: 5px;
  }
}

.box {
  padding: 20px;
  background-color: #1f2937;
  border-radius: 6px;

  &__error {
    color: #f78c79;
  }
}
